{
  "extends": "standard",
  "env": {
    "es6": true,
    "node": true
  },
  "plugins": [
    "markdown",
    "promise",
    "node"
  ],
  "rules": {
    "no-var": "error",
    "no-console": "warn"
  },
  "root": true
}
